@keyframes jump {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
}

#headline {
	font-size: clamp(2rem, 5vw, 4rem);
}
#subtitle {
	font-size: clamp(1rem, 2vw, 1.5rem);
}

.initContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: linear-gradient(
		to bottom,
		var(--primary-background-color-shade-1) 1%,
		var(--primary-background-color) 100%
	);
}

.initPage {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	flex: 1;

	img {
		height: 200px;
	}
}

.headLine {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#arrowDown {
	position: absolute;
	bottom: 0;
	animation: jump 1.5s infinite;
}

.progressBarContainer {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background-color: var(--primary-background-color);
	z-index: 1000;
}

.progressBar {
	width: 100%;
	background-color: var(--secondary-background-color);
	height: 0;
}

.pageEndContainer {
	background: linear-gradient(
		to bottom,
		var(--primary-background-color) 0%,
		var(--primary-background-color-shade-1) 70%,
		var(--primary-background-color-shade-2) 100%
	);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	background-color: red;
}
