.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	position: relative;
	z-index: 500;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
	background-color: var(--gradient-2);

	img {
		height: 50px;
		width: 50px;
	}
}

.hamburger {
	cursor: pointer;
	transition: transform 0.3s, opacity 0.3s;
}

.logoContainer {
	display: flex;
	gap: 16px;
}
