.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	position: relative;
	z-index: 500;
}

.hamburger {
	cursor: pointer;
	transition: transform 0.3s, opacity 0.3s;
}

.logoContainer {
	display: flex;
	gap: 16px;
}
