@keyframes carousel {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.animatedCarousel {
	animation: carousel 60s linear infinite;
}

.animateCarousel:hover {
	animation-play-state: paused;
}
