:root {
	--primary-background-color: #98d4d0;
	--secondary-background-color: #141414;
	--tertiary-background-color: #eef0f2;
	--primary-background-color-shade-1: #c5e8e6;
	--primary-background-color-shade-2: #edf8f7;
	--alternative-background-color: #004c99;
	--primary-font-color: #141414;
	--grey: #bfbec5;
	--gradient-1: linear-gradient(
		to bottom,
		var(--primary-background-color-shade-1) 1%,
		var(--primary-background-color) 100%
	);
	--gradient-2: linear-gradient(
		to bottom,
		var(--primary-background-color) 0%,
		var(--primary-background-color-shade-1) 70%,
		var(--primary-background-color-shade-2) 100%
	);
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	background-color: var(--primary-background-color);
	color: var(--primary-font-color);
	font-family: "Lato", serif;
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: var(--primary-font-color);
}
