:root {
	--primary-background-color: #0d1821;
	--primary-background-color-shade-1: #15232f;
	--primary-background-color-shade-2: #23313d;
	--secondary-background-color: #c2e0ff;
	--alternative-background-color: #004c99;
	--primary-font-color: #c2e0ff;
	--grey: #bfbec5;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	background-color: var(--primary-background-color);
	color: var(--primary-font-color);
	font-family: "Lato", serif;
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: var(--primary-font-color);
}
